 :root {
      --bg-color: #0f0f1a; /* Dark background for the page rgba(0, 0, 0, 0.6);*/
      --text-color: #ffffff;
      --accent-color: #ae63e4;
      --blur-bg: rgba(255, 255, 255, 0.05);
    }

    body {
      background-color: var(--bg-color);
      color: var(--text-color);
      font-family: 'Poppins', sans-serif;
    }

    .navbar {
      backdrop-filter: blur(10px);
      background-color: var(--bg-color);
      
    }

    .navbar-brand {
      color: var(--accent-color) !important;
      font-weight: bold;
    }

    .nav-link {
      color: var(--text-color) !important;
    }

    .nav-link:hover {
      color: var(--accent-color) !important;

    }